/.settings/*

/html-template/*
/bin/*
/bin-debug/*
/bin-release/*
/dist/*
/docs/*

.actionScriptProperties
.flexProperties
.flexLibProperties
.fxpProperties
.project
.sourceMate
.sourceMateMetadataSettings
setEnv.sh

Icon
Thumbs.db
.DS_Store
.FlexUnitSettings
FlexUnitApplication.mxml